# BUILD
build
# IDE
/nbproject/private
/target/
/src/main/resources/org/chrisle/netbeans/plugins/nbscratchfile/ui/nbproject/private/
/src/main/resources/org/chrisle/netbeans/plugins/nbscratchfile/ui/node_modules/
/src/main/resources/org/chrisle/netbeans/plugins/nbscratchfile/ui/node/