{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "endOfLine": "lf",
    "arrowParens": "always",
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        }
    ]
}
